<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<httpHandlers>
			<add path="*" type="SimpleStack.HttpHandlerFactory, SimpleStack" verb="*" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<add path="*" name="SimpleStack.Factory" type="SimpleStack.HttpHandlerFactory, SimpleStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
	</system.webServer>
</configuration>